
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Block Hopper</title>
   <!--JQUERY-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


   <!-- Referencia de llamado hacia el archivo css-->
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<!-- Ejecutando funcion de validacion del juego -->
<body onload="startGame()" >
  <!--Agregando contenedor de Boostrap -->
  <div class="modal-dialog text-center">
    
    <div class="modal-content">
  <br>
   <!--Selector de clase que permite agregar estilo a la etiqueta H1 -->
 <center> <h1 class="estilo">BLOCK HOPPER</h1></center>
</div>
</div><br><br>
</body>
</html>
  <!--Selector de clase que permite agregar estilo a la etiqueta H1 -->
<script src="/static/js/javaScript.js"></script>

