canvas {
    border:2px solid rgb(239, 238, 238);
    background-color: #ebbbe2;
    
   
}

body {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUAxh_Rt10C48Faf9Z8IY1hmZcXg5Zb2fLUgOGhNupPRvwBMwhNpVNmF84ZSEECIN_JJo&usqp=CAU) no-repeat center center fixed;
    background-size: cover;
   text-align:center;
}
.estilo{
    color: rgb(236, 230, 230); text-shadow: black 0.1em 0.1em 0.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}